{{>header}}
<div class="alert alert-danger">
    <strong>Ya está registrado en este curso</strong>
</div>
<div class="col-sm-3">
    <a type="button" class="btn btn-primary" href="/inscribir">Volver</a>
</div>
{{>footer}}