{{>header}}
<div class="text-center">
    <h2>Ver cursos como administrador</h2>
</div>
{{{listar}}}
<div class="text-center">
    <h2>Ver cursos como interesado</h2>
</div>
{{{listarComoInteresado}}}
{{>footer}}